<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Flashcard Generator</title>
	<link rel="stylesheet" href="css/custom.css" />
	<link rel="stylesheet" href="css/ani.css" />
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</head>

<body>
	<%- include('./navbar') %>

		<div class="row">
			<div class="container-fluid p-5 " style="height: 80vh">
				<form action="/flashcardgen" method="POST">
					<div class="form-group p-2">
						<h3 class="p-3" for="source">
							<b>Enter Your Source Material:</b>
						</h3>
						<textarea class="form-control input-style shadow" id="source" name="source" rows="5"></textarea>
					</div>
					<div class="row">
						<div class="col"> <button class="btn m-3" type="submit" id="sendButton">
								Make Flashcards
							</button></div>
						<div class="col-8">
							<h4 class="m-3"><b>Scroll down after generating your Flashcards</b></h4>
						</div>
					</div>
				</form>
			</div>

			<div class="container p-5" style="height:80vh">
				<div id="flashcards" class="carousel slide p-5" data-interval="false">
					<div class="container">
						<div id="carousel-inner" class="carousel-inner">
							<div class="carousel-item active">
								<div class="flashcard p-5">
									<h2 style="text-align: center;">Your Flashcards</h2>
								</div>
							</div>
							<% if (response.length> 0) { %>
								<% response.forEach(function(flashcard) { %>
									<div class="carousel-item">
										<div class="flashcard p-5">
											<h4>Question<br><%- flashcard.front_text %><br></h4>
											<h4 class="back-text hidden">Answer<br><%- flashcard.back_text %></h4>
											<button class="btn reveal-button">Reveal Answer</button>
										</div>
									</div>

									<% }) %>
										<% }%>
						</div>
						<a class="carousel-control-prev" href="#flashcards" role="button" data-slide="prev">
							<img src="images\previous-svgrepo-com.svg" style="height: 30px;">
						</a>
						<a class="carousel-control-next" href="#flashcards" role="button" data-slide="next">
							<img src="images\next-svgrepo-com.svg" style="height: 30px;">
						</a>

					</div>


				</div>
			</div>
		</div>

		<%- include('./footer') %>

			<script>
				const revealButtons = document.querySelectorAll('.carousel-item .reveal-button');

				revealButtons.forEach(button => {
					button.addEventListener('click', function () {
						// Get the closest flashcard element (parent's parent)
						const flashcard = this.closest('.flashcard');
						flashcard.querySelector('.back-text').classList.toggle('hidden');

						if (this.textContent === 'Reveal Answer') {
							this.textContent = 'Hide Answer';
						} else {
							this.textContent = 'Reveal Answer';
						}
					});
				});
			</script>
			<script src="js/index.js"></script>
</body>

</html>