<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TUBOT</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
    <nav>
        <img src="images\logo_placeholder.png" alt="logo_placeholder" class="logo" />
        <a href="#" class="logo_text">TUBOT</a>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <button class="btn">Login</button>
        <div class="empty_block"></div>
    </nav>

    <div class="content">
        <h1>YOUR PERSONAL<br>AI TUTOR</h1>
    </div>

    <ul class="features">
        <li>
            <div>
                <p>NOTES</p>
            </div>
        </li>
        <li>
            <div>
                <p>QUIZ</p>
            </div>
        </li>
        <li>
            <div>
                <p>PLANNER</p>
            </div>
        </li>

    </ul>
</div>
</body>
</html>