<nav id="navbar">
    <a href="/">
        <img src="images\robot-svgrepo-com.svg" alt="Logo" width="40" class="d-inline-block align-text" />
        <h5 class="d-inline-block align-text-top"><b>TUBOT</b></h5>
    </a>
    <div id="features">
        <a href="/notes" type="button" class="btn">Notes</a>
        <a href="/flashcardgen" type="button" class="btn">Flashcards</a>
        <a href="/studyplanner" type="button" class="btn">Planner</a>
    </div>
</nav>
