*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(197, 197, 197);
}
nav {
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgba(0,0,0,.07);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
    cursor: pointer;
}
.logo_text{
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color:rgb(0, 38, 71);
    padding: 10px 20px;
}
nav ul {
    list-style: none;
    width:100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a {
    text-decoration: none;
    color:rgb(0, 38, 71);
}
.btn {
    display: inline-block;
    width: fit-content;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    color: rgb(0, 38, 71);
    background-color: rgb(179, 153, 70);

    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn:hover {
    background-color: rgb(0, 38, 71);
    color: rgb(179, 153, 70);
}

.empty_block{
    width:10px;
}

.content {
    margin-top: 10%;
    color:rgb(0, 38, 71);
    max-width: 620px;
}

.content h1 {
    font-size: 50px;
    font-weight: 700;
    margin-left: 100px;
}

.features {
    list-style: none;
    width:100%;
    text-align: right;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4%;
}

.features li {
    display: inline-block;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: rgb(179, 153, 70);
}

.features li:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 63);
}

.features li p {
    position:relative;
    color: rgb(0, 38, 71);
    font-size: 60px;
    text-align: center;
    padding-top: 50%;
}
